<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap">
        <link rel="stylesheet" href="../public/css/styles.css">
        <title>Mercado Liebre</title>
    </head>
    <body class="light-bg">
        <header class="yellow-bg header">
            <div class="container-logo-search">
                <img src="../public/images/logo-mercado-liebre.svg" alt="logo-empresa" class="logo">
                <div class="search">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button class="btn-search"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <p class="text-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjetas de crédito
            </p>
            <nav class="main-nav">
                <ul>
                    <li>
                        <a href="#">Ofertas</a>
                    </li>
                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="#">Vender</a>
                    </li>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="../views/register.html">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i>
                    </li>
                    <li>
                        <a href="../views/login.html">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i>
                    </li>
                    <li>
                        <a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i>
                    </li>
                </ul>
            </nav>
            <div class="burger-menu lb-bg">
                <i class="fas fa-bars light-text"></i>
            </div>
        </header>
        <div>
            <img class="banner" src="../public/images/img-home-banner.jpg" alt="banner">
        </div>
        <main>
            <h3 class="text-title dark-text">Basado en tu última vista</h3>
            <section class="article-container">
                <article class="article-item white-bg">
                    <img src="../public/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="description-item product-desc-box">
                        <i class="fas fa-truck green-text product-delivery-icon"></i>
                        <p class="text-price">$6.770</p>
                        <p class="text-discount green-text">40% OFF</p>
                        <p class="text-desc dark-text text-name">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="article-item white-bg">
                    <img src="../public/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="description-item product-desc-box">
                        <i class="fas fa-truck green-text product-delivery-icon"></i>
                        <p class="text-price">$230.000</p>
                        <p class="text-discount green-text">20% OFF</p>
                        <p class="text-desc dark-text text-name">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="article-item white-bg">
                    <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="description-item product-desc-box">
                        <i class="fas fa-truck green-text product-delivery-icon"></i>
                        <p class="text-price">$70.500</p>
                        <p class="text-discount green-text">10% OFF</p>
                        <p class="text-desc dark-text text-name">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="article-item white-bg">
                    <img src="../public/images/img-tv-samsung-smart.jpg" alt="Smart TV Samsung 43 pulgadas">
                    <div class="description-item product-desc-box">
                        <i class="fas fa-truck green-text product-delivery-icon"></i>
                        <p class="text-price">$23.200</p>
                        <p class="text-discount green-text">5% OFF</p>
                        <p class="text-desc dark-text text-name">Smart TV Samsung 43"</p>
                    </div>
                </article>
            </section>
            <h3 class="text-title dark-text">Ofertas</h3>
            <section class="article-container">
                <article class="article-item white-bg">
                    <img src="../public/images/img-cafetera-moulinex.jpg" alt="Cafereta Moulinex">
                    <div class="description-item product-desc-box">
                        <i class="fas fa-truck green-text product-delivery-icon"></i>
                        <p class="text-price">$6.770</p>
                        <p class="text-discount green-text">40% OFF</p>
                        <p class="text-desc dark-text text-name">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="article-item white-bg">
                    <img src="../public/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <div class="description-item product-desc-box">
                        <i class="fas fa-truck green-text product-delivery-icon"></i>
                        <p class="text-price">$230.000</p>
                        <p class="text-discount green-text">20% OFF</p>
                        <p class="text-desc dark-text text-name">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="article-item white-bg">
                    <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <div class="description-item product-desc-box">
                        <i class="fas fa-truck green-text product-delivery-icon"></i>
                        <p class="text-price">$70.500</p>
                        <p class="text-discount green-text">10% OFF</p>
                        <p class="text-desc dark-text text-name">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="article-item white-bg">
                    <img src="../public/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pulgadas">
                    <div class="description-item product-desc-box">
                        <i class="fas fa-truck green-text product-delivery-icon"></i>
                        <p class="text-price">$23.200</p>
                        <p class="text-discount green-text">5% OFF</p>
                        <p class="text-desc dark-text text-name">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
        </main>

        <footer class="footer">
            <section class="items-footer">
                <article>
                    <i class="fa-solid fa-credit-card"></i>
                    <h6>Pagá con tarjeta o en efectivo</h6>
                    <p class="text-description">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </articl>
                <article>
                    <i class="fa-solid fa-gift"></i>
                    <h6>Envió gratis desde $2.500</h6>
                    <p class="text-description">Solo por estar registrad@ en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                <article>
                    <i class="fa-solid fa-user-shield"></i>
                    <h6>Seguridad, de principio a fin</h6>
                    <p class="text-description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
                </article>
            </section>
            <section>
                <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
            </section>
        </footer>
    </body>
</html>